<div>
    <form>
        <label>Nome:</label>
        <input />
        <br />
        <label>Cpf:</label>
        <input />
        <br />
        <button type="submit">Cadastrar</button>
    </form>
</div>